@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    color-scheme: light dark;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    hanging-punctuation: first allow-end last;
    interpolate-size: allow-keywords;
  }

  body {
    line-height: 1.5;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }
}

@layer variables {
  :root {
    --color-bg: #fbfbfb;
    --color-bg-shade: #dadada;
    --color-bg-highlight: #fff;
    --color-text-bg: #fff;
    --color-text: #333;
    --color-muted: #aaa;
    --color-primary: #64382c;
    --color-primary-invert: #fff;
    --color-primary-shade: #301b15;
    --color-primary-highlight: #965442;
    --color-primary-disabled: #635450;
    --color-bad: #ff0000;
    --color-bad-shade: #cc0000;
    --color-bad-highlight: #ff4040;
    --color-bad-bg: #ffc0c0;
    --border-radius: 3px;
  }
}

@layer typography {
  body {
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background: #fbfbfb;
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6, .heading-font {
    font-family: Rubik, sans-serif;
    font-weight: 400;
  }
  
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
  }
  
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
    border: 1px solid var(--color-bg-shade);
  }
}

@layer layout {
  body.body-2col {
    display: grid;
    height: 100vh;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr;
    
    & header {
      grid-area: 1 / 1 / 1 / 3;
      overflow: hidden;
    }
    & header + * {
      grid-area: 2 / 1 / 3 / 2;
      overflow: hidden;
      padding: 5px;
    }
    & header + * + * {
      grid-area: 2 / 2 / 3 / 3;
      overflow: auto;
      padding: 5px;
    }
  }
}

@layer components-generic {

  header {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid var(--color-bg-shade);

    & nav {
      flex-grow: 1;
      text-align: right;
      margin-left: auto;
    }
  }

  .koti-title {
    background: var(--color-primary);
    color: var(--color-primary-invert);
    position: relative;
    padding: 9px;
    font-size: 29px;
    line-height: 25px;

    &::before {
      position: absolute;
      left: 3px;
      right: 3px;
      top: 3px;
      bottom: 3px;
      content: "";
      pointer-events: none;
      background: none;
      border: 3px solid var(--color-primary-invert);
    }

    & a {
      color: var(--color-primary-invert);
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .koti-btn, .koti-tabs > div > label {
    margin: 0;
    padding: 3px 15px 3px 15px;
    display: inline-block;
    min-height: 32px;
    background-color: var(--color-bg);
    color: var(--color-text);
    border-top: 1px solid var(--color-bg-shade);
    border-left: 1px solid var(--color-bg-shade);
    border-right: 1px solid var(--color-bg-shade);
    border-bottom: 2px solid var(--color-bg-shade);
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    &:hover:not(:disabled) {
      background-color: var(--color-bg-highlight);
    }

    &:active:not(:disabled) {
      margin-top: 1px;
      border-bottom: 1px solid var(--color-bg-shade);
    }
    
    &:disabled {
      background-color: var(--color-bg-shade);
    }

    &.primary, &.selected {
      background-color: var(--color-primary);
      color: var(--color-primary-invert);
      border-color: var(--color-primary-shade);

      &:hover:not(:disabled) {
        background-color: var(--color-primary-highlight);
      }
      
      &:disabled {
        background: var(--color-primary-disabled);
      }
    }
    
    &.danger {
      background-color: var(--color-bad);
      color: var(--color-primary-invert);
      border-color: var(--color-bad-shade);

      &:hover:not(:disabled) {
        background-color: var(--color-bad-highlight);
      }

      &:disabled {
        background: var(--color-bad-bg);
      }
    }
  }

  input, textarea {
    background: var(--color-text-bg);
    color: var(--color-text);
    border: 1px solid var(--color-bg-shade);
    border-radius: var(--border-radius);
    padding: 3px;
    transition: all 0.2s ease-in-out;
  }

  input[type=checkbox] {
    appearance: none;
    border: 1px solid var(--color-bg-shade);
    border-radius: var(--border-radius);
    width: 1em;
    height: 1em;
    font-family: bootstrap-icons !important;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:checked {
      background-color: var(--color-primary);
      border-color: var(--color-primary-shade);
      color: var(--color-primary-invert);

      &::before {
        content: '\F26E';
        font-size: 1em;
        display: block;
        position: absolute;
        left: -0.05em;
        top: -0.37em;
      }
    }
    
    label + & {
      margin-left: 5px;
    }
  }

  .input-block {
    display: block;
    width: 100%;
    
    input& {
      min-height: 32px;
    }
    
    textarea& {
      field-sizing: content;
    }
  }

  .field-validation-error {
    color: var(--color-bad);
  }

  .koti-tabs {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;

    & > div > input[type="radio"] {
      position: fixed;
      opacity: 0;
      pointer-events: none;
    }

    & > div > .content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 31px;
      border: 1px solid var(--color-bg-shade);
      padding: 5px;
      display: none;
      overflow-y: auto;
    }

    & > div > input[type="radio"]:checked + label {
      background-color: var(--color-primary);
      color: var(--color-primary-invert);
      border-color: var(--color-primary-shade);

      &:hover {
        background-color: var(--color-primary-highlight);
      }
    }

    & > div > input[type="radio"]:checked + label + .content {
      display: block;
    }
  }

  @keyframes spinner-grow {
    0% {
      transform: scale(0);
    }
    50% {
      opacity: 1;
    }
  }

  .spinner {
    display: inline-block;
    width: .75lh;
    height: .75lh;
    vertical-align: middle;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    animation: spinner-grow .75s linear infinite;
  }

  button.with-indicator {
    & .spinner:not(.htmx-request) {
      display: none;
    }

    &:disabled i, &.loading i {
      display: none;
    }
    
    &.loading .spinner {
      display: inline-block;
    }
  }
  
  .pagination {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0;
    flex-wrap: wrap;
    
    & button {
      padding: 0;
      min-width: 32px;
    }
  }
  
  #fullscreen-container:open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    border: none;
    border-radius: 0;
    padding: 0;
    
    & #fullscreen-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
    }
  }
  
  .alert {
    padding: 8px;
    border-radius: var(--border-radius);
    background-color: var(--color-bad-bg);
    border: 1px solid var(--color-bad);
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  
  .muted {
    color: var(--color-muted);
  }
  
  dialog {
    margin: auto;
    background: var(--color-bg);
    border: 1px solid var(--color-bg-shade);
    border-radius: var(--border-radius);
    
    & > header, & > div {
      padding: 10px;
    }
  }
}

@layer components-page-specific {

  #editor-container {
    padding: 0;
    overflow: hidden;
    border-right: 1px solid var(--color-bg-shade);
  }

  .content-preview-pane {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;

    & .buttons {
      margin-bottom: 5px;
    }

    & iframe {
      width: 100%;
      height: 100%;
      overflow: auto;
      border: 1px solid var(--color-bg-shade);
    }
  }

  .picture-list, .content-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;

    & .picture-set-header, & .content-header {
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      & button {
        margin-right: 5px;
      }
    }
    
    & .list {
      grid-area: 2 / 1 / 3 / 2;
    }
  }

  .list {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 5px;
    padding: 5px;
    border: 1px solid var(--color-bg-shade);
    background: var(--color-text-bg);

    & .folder {
      width: 210px;
      min-height: 210px;
      height: fit-content;
      padding: 5px;

      & .thumbnails {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        & img {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
      }
    }

    & .picture {
      padding: 5px;
      position: relative;

      & img {
        max-height: 125px;
      }
      
      &.pending, &.uploading, &.error {
        background: var(--color-bg-shade);
        opacity: 0.8;
      }
      
      & span {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 10px white;
        font-weight: bold;
      }
    }
    
    & .item {
      padding: 5px;
      position: relative;
      width: 197px;

      &.draft {
        background: var(--color-bg-shade);
        opacity: 0.8;
      }

      & img {
        max-width: 187px;
      }
    }
  }

  .picture-uploader {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    
    & .list {
      position: relative;
      
      &.drop-hover::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.7);
        margin: 5px;
        border-radius: 5px;
        border: 5px dashed var(--color-bg-shade);
        z-index: 10;
        pointer-events: none;
      }
    }
    
    & .placeholder-heading {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 150px;
    }
    
    & .footer {
      text-align: center;
      margin-top: 5px;
    }
  }

  .picture-picker-dialog, .picture-upload-dialog {
    min-height: 33vh;
    min-width: 66vw;
    &:open {
      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr; 
    }
    & header {
      grid-area: 1 / 1 / 2 / 2;
    }
    & .picture-list {
      min-height: 0;
    }
  }

  .post-coatofarms {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 1fr;
    gap: 5px;
  }
}

@layer utilities {
  .m { margin: 5px; }
  .ml { margin-left: 5px; }
  .mr { margin-right: 5px; }
  .mt { margin-top: 5px; }
  .mb { margin-bottom: 5px; }
  .p { padding: 5px; }
  .pl { padding-left: 5px; }
  .pr { padding-right: 5px; }
  .pt { padding-top: 5px; }
  .pb { padding-bottom: 5px; }
  .flex { display: flex; }
  .flex-col { flex-direction: column; }
  .flex-grow { flex-grow: 1; }
  .flex-shrink { flex-shrink: 1; }
  .flex-wrap { flex-wrap: wrap; }
}