@model KoTi.ViewModels.AbstractContentViewModel

@if (ViewData.ModelState.IsValid)
{
    <h2 id="header-title" hx-swap-oob="true">
        <partial name="_Title.cshtml" model="Model" />        
    </h2>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert mb">
        <div>
            Save failed due to the following validation errors:
            @Html.ValidationSummary()
        </div>
    </div>
}

@await Component.InvokeAsync((Type)ViewData["FormViewComponentType"]!, new { model = Model })
